.swiper {
  padding: 30px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev {
  color: rgba(255, 255, 255, 0.9);
}

.swiper-button-next {
  color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 768px) {
  .swiper {
    height: 150px;
    margin-top: 0;
    padding-top: 0;
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
}
